.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
  fill: var(--ifm-color-primary);
}

.buttonDefault {
  background-color: var(--ifm-color-default);
  color: var(--ifm-color-typography-light);
}

.buttonDefault:hover {
  opacity: 0.7;
  color: var(--ifm-color-typography-light);
}

.buttonDefault:active {
  opacity: 0.5;
  color: var(--ifm-color-typography-light);
}